*{
    margin: 0;
    padding: 0;
}
body{background-color: rgb(253, 252, 253);
}
h1{
    margin-bottom: 5px;
}
.box1{
    background-color: rgb(241, 241, 241);
    height: 600px;
}
.box2{
    background-color: rgb(221, 221, 221);
    height: 200px;
    width: 100%;
}
.box3{
    background-color: rgb(228, 228, 228);
    height: 400px;
}
.box4{
    background-color: rgb(134, 133, 136);
    height: 400px;
}
.box5{
    background-color: rgb(242, 197, 248);
    height: 400px;
}
.box6{
    background-color: rgb(253, 221, 249);
    height: 400px;
}
.box7{
    background-color: rgb(220, 217, 223);
    height: 350px;

}
ul,li{
    list-style: none;
}
.nav a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
}
.nav a:hover{
    background-color: palevioletred;
    color: pink;
}
.nav li{
    float: left;
}
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(5, 5, 5);
}
.nav ul:after{
    content: "";
    display: block;
    clear: both;
}
.pic1{
    width: 300px;
    height: 300px;
}
.pic2{
    width: 300px;
}
.pic3{
    width: 300px;
}
.pic4{
    width: 300px;
}
.picA{
    width: 100%;
}

@media (min-width:768px){
.boxA:after{
    content:"";
    display:block;
    clear: both;
}
    .box2{
        width: 100%;
        float: left;
    }
}